{% load static %}
<!DOCTYPE html>

<html lang="pt" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{% block title %}Meu Shop 3D{% endblock %}</title>

  </head>

  <body>

    <div id="header">
      <a href="/" class="logo">Meu Shop 3D</a>
    </div>

    <div class="cart">
      {% with total_items=cart | length %}
        {% if total_items > 0 %}
          Seu carrinho:
        <a href="{% url "cart:cart_detail" %}">
          {{ total_items }}item{{ total_items|pluralize }},
          ${{ cart.get_total_price }}
        </a>
        {% else %}
          Seu carrinho está vazio.
        {% endif %}
      {% endwith %}
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
